<!DOCTYPE html>
<html class="has-navbar-fixed-top has-background-grey-lighter is-family-sans-serif">

<head>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="bulma.css") }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="navbar is-danger is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="#" class="navbar-item is-font-primary">
                <img src="{{ url_for("static", filename="logo.png") }}">
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a href="algoritmo.html" class="navbar-item is-active">
                    Algoritmo
                </a>
                <a href="problema.html" class="navbar-item">
                    Problema
                </a>
            </div>
        </div>
    </nav>
    <section class="section">
        <div class="body">
            {% block content %}{% endblock content %}
        </div>
    </section>

    <script src="{{ url_for("static", filename="jquery-3.4.1.min.js") }}" type="application/javascript"></script>
    <script src="{{ url_for("static", filename="peterson.js") }}" type="application/javascript"></script>
</body>

</html>