{% extends "base.html" %}

{% block title %}Algoritmo de Peterson{% endblock title %}

{% block content %}

<div class="box has-text-centered" id="encabezado">
    <p class="has-text-centered">
        <div class="title">
            Algoritmo de Filosofos Comelones
        </div>
        <div class="subtitle">
            Programado con Python, utilizando el framework Flask, Javascript y consultas AJAX.
        </div>
        <ul id="messages"></ul>
        
    </p>
</div>

{% endblock content %}

{% block script %}
    <script>
        var socket = io();

        socket.on('update', function (data) {
            $('#messages').append('<li>' + data.estado + ' </li>')
            console.log(data.estado)
        });
    </script>
{% endblock script %}